ion-row {
  margin-bottom: 1.5rem;
}

h4 {
  padding-bottom: 2px;
  padding-left: 1rem;
  border-bottom: 2px solid black;
  margin-left: 0.5rem;
}


ion-button {
  width: 100%;
  height: 100%;
}

.header-button--icon{
  font-size: 32px;
  color: #3b3b3b;
}

