<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title [ngClass]="{'title-backAllowed': backAllowed}">
      <div style="display: flex; align-items: center">
          <ion-button *ngIf="backAllowed" fill="clear" (click)="back()">
            <ion-icon class="header-button--icon" name="arrow-back-outline"></ion-icon>
          </ion-button>
          <ng-container>
            <span style="font-family: 'Roboto'; font-size: 24px">{{ name }}</span>
          </ng-container>
        <div style="display:flex; margin-left: auto">
          <ion-button fill="clear">
            <ion-icon name="notifications-outline" style="font-size: 30px"></ion-icon>
          </ion-button>
          <ion-button (click)="openProfile()" fill="clear">
            <ion-icon name="person-circle-outline" style="font-size: 35px"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
