<ion-header></ion-header>
<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="logo">
        <img src="../../assets/icon/GastroGather.png" alt="Logo">
    </div>
    <div class="buttons">
      <div class="social-buttons">
        <ion-button shape="round" fill="outline" class="social-button google-button">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>

        <ion-button shape="round" fill="outline" class="social-button facebook-button">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
      </div>

      <div class="auth-buttons">
        <ion-button shape="round" fill="outline" class="auth-button" (click)="login()">Přihlásit se</ion-button>
        <ion-button shape="round" fill="outline" class="auth-button" (click)="register()">Zaregistovat se</ion-button>
      </div>
    </div>
  </div>
</ion-content>
