<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button fill="clear" (click)="close()">
      <ion-icon class="header-button--icon" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="login-container">
    <h2>Zaregistrovat se</h2>
    <ion-list [formGroup]="form">
      <ion-item>
        <ion-input formControlName="name" label-placement="floating" label="Jméno" type="text"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.name">
          <div class="error-message" *ngIf="form.get('name')?.hasError(validation.type) && (form.get('name')?.dirty || form.get('name')?.touched)">
            <ion-icon class="error-icon" name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-input label-placement="floating" formControlName="email" label="Email" type="email" placeholder="email@doména.cz"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label-placement="floating" formControlName="password" label="Heslo" type="password" placeholder="********"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button>Zaregistrovat se</ion-button>
  </div>
</ion-content>
