<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Domů</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events" href="/tabs/events">
      <ion-icon name="footsteps-outline"></ion-icon>
      <ion-label>Události</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Skupiny</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="friends" href="/tabs/friends">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Přátelé</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
