<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Zavřít</ion-button>
    </ion-buttons>
    <ion-title>Nová událost</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="create()">
    <ion-list style="display: flex; flex-direction: column">
      <ion-item class="input-text">
        <ion-label position="stacked">Název události</ion-label>
        <ion-input
          formControlName="eventName"
          placeholder="Zadejte jméno"
        ></ion-input>
      </ion-item>
      <ion-item class="input-text">
        <ion-label position="stacked">Místo události</ion-label>
        <ion-input
          formControlName="eventLocation"
          placeholder="Zadejte místo"
        ></ion-input>
      </ion-item>
      <ion-item class="input-text">
        <ion-label position="stacked">Datum události</ion-label>
        <ion-input
          formControlName="eventDate"
          placeholder="Zadejte datum"
          (click)="openCalendar()"
          readonly
        ></ion-input>
      </ion-item>
      <ion-item class="input-text">
        <ion-label position="stacked">Čas události</ion-label>
        <ion-input
          formControlName="eventTime"
          placeholder="Zadejte datum"
          (click)="openTimeChooser()"
          readonly
        ></ion-input>
      </ion-item>

      <ion-button type="submit" style="height: 50px">
        Vytvořit událost
        <ion-icon name="add-outline" slot="start"></ion-icon>
      </ion-button>

    </ion-list>
  </form>
</ion-content>
