<ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-list>
  <ion-item *ngFor="let item of dataSource; let index" style="padding-bottom: 3px">
    <ion-avatar slot="start">
      <img src="./assets/img/img5.png" alt="avatar" />
    </ion-avatar>
    <div style="display: flex; flex-direction: column; width: 100%">
      <ion-label>{{ item.groubName }}</ion-label>
      <div style="display: flex; justify-content: space-around;">
        <ion-button (click)="acceptInvitation(index)">
          Potvrdit
        </ion-button>
        <ion-button (click)="declineInvitation(index)">
          Odebrat
        </ion-button>
      </div>
    </div>
  </ion-item>
</ion-list>
